@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
  font-family: "pixelFont", sans-serif;
}

@layer base {
  @font-face {
    font-family: 'pixelFont';
    src: url('/fonts/pixelFont.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
